# build output
dist/
.vercel/
.netlify/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# output log
output-log.md

# NPMRC file for Development Mode only ('cause Vercel error message: "Detected unsupported "use-node-version" in your ".npmrc"
.npmrc

# Files for document the Git Spr Issue
Git-SPR-Issue.md
image.png
